<section class="section">
  <div class="container">
    <h1 class="title is-inline-block is-family-secondary is-2 is-spaced">
      {{ getGreeting() }}, {{ firstName }}
    </h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>,
      like the one you're currently reading
    </h2>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="tabs">
      <ul>
        <li class="is-active"><a>Pictures</a></li>
        <li><a>Music</a></li>
        <li><a>Videos</a></li>
        <li><a>Documents</a></li>
      </ul>
    </div>
  </div>
</section>
