<div class="container">
  <div class="columns">
    <div class="column is-narrow">
      <aside class="menu" style="width: 140px;">
        <p class="menu-label">View by Status</p>
        <ul class="menu-list">
          <li>
            <a>zdqzdqzd</a>
          </li>
        </ul>
        <p class="menu-label">View by Type</p>
        <ul class="menu-list">
          <li>
            <a>qzdqzdzqd</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <router-outlet></router-outlet>
      <!-- <div class="somethingOuter">
        <div class="something is-flex" *ngIf="user$; else loading"></div>
        <ng-template #loading><div>Loading...</div></ng-template>
      </div> -->
    </div>
  </div>
</div>
